{% load static %}
<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
  <style>
    body{
      background-color: lightcyan;
      color:white;
    }

     div {

    padding: 25px 50px 75px;
    #background-color:lightcyan;
    }

 </style>

</head>
<body style="background-image:url('{% static "images/bookpile.jpg" %}')" no-repeat center fixed;background-size: cover;> 
  <div class="container text-center">
  {% if message %}<h4 class="text-center">{{message}}</h4>{% endif %}

  <h3>UPLOAD PAPER</h3>
 <form method="post" enctype="multipart/form-data" action="{% url 'paper:uploadpaper' %}">
      {% csrf_token %}
      sem_no:<br>
    <select name="sem_no" id="sem_no">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>
    <br>

  exam_type:<br>
    <select name="exam_type" id="exam_type">
    <option value="internal">Internal</option>
    <option value="external">External</option>
  </select>
    <br>
  </select>

  sub_type:<br>
  <select name="sub_type" id="sub_type">
  <option value="mid1">Mid-1</option>
  <option value="Mid2">Mid-2</option>
  <option value="Main">Main</option>
  <option value="Backlog">Backlog</option>
  </select>
  <br>
   branch_name:<br>
    <select name="branch_name" id="branch_name">
    <option value="CSE">CSE</option>
    <option value="IT">IT</option>
    <option value="MECH">MECH</option>
    <option value="PROD">PROD</option>
    <option value="CHEMICAL">CHEMICAL</option>
    <option value="BIOTECH">BIOTECH</option>
    <option value="EEE">ECE</option>
    <option value="ECE">EEE</option>
   <option value="CIVIL">CIVIL</option>
  </select>
  <br>
  <br>
  <input type="file" name="file">
  <button type="submit">upload file</button>
</form>
  <br>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</html>
